NODE_ENV=development
PORT=3000

# Em produção, gere uma chave aleatória longa e não a envie ao GitHub.
JWT_SECRET=troque-esta-chave-por-uma-chave-aleatoria-com-no-minimo-32-caracteres
JWT_ISSUER=voting-api-gateway
JWT_AUDIENCE=voting-services
JWT_EXPIRES_IN=15m

# Usuário local apenas para demonstração.
DEMO_USER_ID=usr-eleitor-001
DEMO_USER_NAME=Eleitor de Demonstração
DEMO_USER_EMAIL=eleitor@votacao.local
DEMO_USER_ROLE=VOTER
# Hash scrypt da senha: Voto@123
DEMO_USER_PASSWORD_HASH=scrypt$e2502977b87a0788b6edf0ff8dad584d$bcae24882310491931349a0e92353f8274c297d9637143b5b183983f96de897dd74b55a2be6d0d47d8081964cf45cff98f8ffdfe98fd7e3d964379e94ae98168
